* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("./fonts/FiraSans-Medium.ttf");
}

body {
  background-color: #ffffff;
  font-family: "Fira Sans medium";
}

/* ---------------Navigatie--------------- */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  background-color: #b9005f;
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  height: 100%;
  width: 15rem;
}

svg {
  width: 5rem;
}

.innermap a {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration-line: none;
}

.innermap p {
  padding-left: 1rem;
}

.innermap i {
  color: #b9005f;
  position: absolute;
  padding-left: 2rem;
}

.innermap a:hover {
  transition: 0.5s ease-out;
  font-size: larger;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.6rem;
}

/* --------------------------------------------- */

/* --------------Main--------------------------- */

.main {
  margin: 0 0 0 20rem;
  max-width: 55rem;
}

header img {
  width: 15rem;
  margin-top: 1rem;
}

main h1 {
  font-size: 2.8rem;
  margin-top: 2rem;
}

main p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-top: 2rem;
}

hr {
  margin-top: 1rem;
}
