* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --c-white: #fff;
  --c-red: #e30059;
  --c-yellow: #ffd05f;
  --c-green: #25ae93;
  --c-teal: #46becd;
  --c-blue: #606eb3;
  --c-magenta: #b9005f;
  --c-huistijl-magenta: linear-gradient(123.52deg, #cf0d4e 0%, #cd0069 100%);
  --c-brown: #6a4955;
  --c-dirt: #c9b5b2;
  --c-black: #111;
  --c-grey: #eaeaea;
}

@font-face {
  font-family: "Fira Sans Medium";
  src: url("/fonts/FiraSans-Medium.ttf");
}

body {
  background-color: var(--c-white);
  font-family: "Fira Sans medium";
}

/* ---------------Navigatie--------------- */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  background: linear-gradient(123.52deg, #cf0d4e 0%, #cd0069 100%);
  border-radius: 0 1rem 1rem 0;
  padding: 1rem;
  height: 100%;
  width: 18vw;
}

svg {
  fill: var(--c-white);
  position: relative;
  width: 85px;
}

.innermap {
  position: relative;
}

.innermap a {
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration-line: none;
  transition: 0.2s ease-in;
  width: initial;
}

.innermap p {
  min-width: 100px;
  padding-left: 10px;
  width: auto;
  padding-left: 10px;
}

.innermap i {
  font-size: 25px;
  color: var(--c-magenta);
  position: fixed;
  left: 3%;
  margin-top: 5px;
  /* padding-left: 30px; */
  margin-left: 0 auto;
}

.innermap a:hover {
  transition: 0.5s ease-out;
  background-color: var(--c-white);
  color: var(--c-black);
  border-radius: 0.6rem;
}

/* --------------------------------------------- */

/* --------------Main--------------------------- */
.main-background {
  background-color: var(--c-grey);
}

.main {
  background-color: var(--c-white);
  border-radius: 0.6rem;
  margin: 0 auto;
  width: 62vw;
  padding: 2rem;
}

header {
  background-color: var(--c-white);
  position: sticky;
  top: 0;
  height: 4rem;
}

header img {
  width: 14rem;
}

main h1 {
  color: #e30059;
  font-size: 2.8rem;
  margin-top: 2rem;
  width: 20rem;
}

main p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-top: 2rem;
}

hr {
  margin-top: 1rem;
}

/* --------------------------------------------- */

/* -------------Footer-------------------------- */

footer {
  background: var(--c-huistijl-magenta);
  border-radius: 0.6rem;
  margin: 0 auto;
  width: 62vw;
  height: 20vh;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 2rem;
}

.socials img {
  width: 4rem;
}

.socials p {
  color: var(--c-white);
}

/* ------------------------------------------------ */
/* ----------------------Mapjes uitklapbaar-------------------- */

.box {
  margin-top: 5rem;
  width: 62vw;
}

.accordion {
  background-color: var(--c-black);
  color: var(--c-white);
  border-style: solid;
  border-color: var(--c-white);
  border-radius: 0.6rem;
  width: 56.5vw;
  height: 4em;
  font-size: 1rem;
}

.accordion:after {
  color: white;
  content: "\002B";
  float: right;
  padding-right: 0.5rem;
}

.active:after {
  color: rgb(255, 253, 253);
  content: "\2212";
}

.accordion:hover {
  opacity: 0.7;
  transition-duration: 0.4s;
}

.panel {
  display: none;
  background-color: var(--c-grey);
  border-radius: 0.6rem;
  width: 55vw;
  text-align: left;
  padding: 2em;
}

/* ------------------------------------------------------------------ */
